nav {
  background-color: #006080;
}

#name-and-title {
  padding-top:4em;
  height: 100vh;
  background-color: #b3ecff;
}

@media only screen and (min-width: 310px){
  #name-and-title  {
    height: 35em;
  }   
}

@media only screen and (min-width: 770px){
  #name-and-title  {
    height: 25em;
  }   
}

.ninety-width {
  width:100%;
}