nav, footer {
  background-color: #006080;
}
main {
  padding-top:1.5em;
}
#name-and-title {
  padding-top:4em;
  height: 100vh;
  background-color: #b3ecff;
}

@media only screen and (min-width: 310px){
  #name-and-title  {
    height: 35em;
  }   
}

@media only screen and (min-width: 770px){
  #name-and-title  {
    height: 25em;
  }   
}

.ninety-width {
  width:100%;
}

footer {
  color:white;
  padding:2em;
}