nav {
  background-color: #006080;
}

header {
  padding-top:4em;
  height: 100vh;
  background-color: #b3ecff;
}

@media only screen and (min-width: 310px){
  header {
    height: 35em;
  }   
}

@media only screen and (min-width: 770px){
  header {
    height: 25em;
  }   
}
main {
  margin:2em;
}

.ninety-width {
  width:100%;
}