nav, footer {
  background-color: #006080;
}

main {
  padding-top:1.5em;
}

#name-and-title {
  padding-top:4em;
  background-color: #b3ecff;
}

#name-and-title, #portfolio, #about, footer {
  padding-top: 3em;
  padding-bottom:3em;
}

footer {
  color:white;
}

#typed-title-loc {
  color:#009999;
}

#profile-pic {
  max-width:200px;
}

#portfolio {
  background-color: #1f7a7a;
  color: white;
}

#portfolio a {
  color:white;
}

#portfolio i {
  font-size: 3em;
}